In [73]:
import yfinance as yf
import pandas as pd
import numpy as np

In [201]:
apple = yf.download("AAPL", start = "2000-01-01", end = "2024-12-31")
google = yf.download("GOOG", start = "2000-01-01", end = "2024-12-31")
apple.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open     Volume
Ticker          AAPL      AAPL      AAPL      AAPL       AAPL
Date
2000-01-03  0.842151  0.846382  0.765036  0.789017  535796800
2000-01-04  0.771149  0.832276  0.761274  0.814408  512377600
2000-01-05  0.782433  0.831806  0.774910  0.780552  778321600
2000-01-06  0.714723  0.805004  0.714723  0.798421  767972800
2000-01-07  0.748578  0.759864  0.718485  0.726008  460734400

In [202]:
apple = pd.DataFrame(apple)
google = pd.DataFrame(google)

In [203]:
apple = apple.reset_index()
google = google.reset_index()

In [207]:
multi_index_a = pd.MultiIndex.from_tuples(apple.columns)
multi_index_g = pd.MultiIndex.from_tuples(google.columns)

In [208]:
flat_columns_a = ['_'.join(col) for col in multi_index_a]
flat_columns_g = ['_'.join(col) for col in multi_index_g]

apple.columns = flat_columns_a
google.columns = flat_columns_g

In [211]:
flat_columns_g

['Date_', 'Close_GOOG', 'High_GOOG', 'Low_GOOG', 'Open_GOOG', 'Volume_GOOG']

In [213]:
df = pd.merge(apple, google, on = ['Date_', 'Date_'], how = 'outer')

In [215]:
df

,Date_,Close_AAPL,High_AAPL,Low_AAPL,Open_AAPL,Volume_AAPL,Close_GOOG,High_GOOG,Low_GOOG,Open_GOOG,Volume_GOOG
0,2000-01-03,0.842151,0.846382,0.765036,0.789017,535796800,NaN,NaN,NaN,NaN,NaN
1,2000-01-04,0.771149,0.832276,0.761274,0.814408,512377600,NaN,NaN,NaN,NaN,NaN
2,2000-01-05,0.782433,0.831806,0.774910,0.780552,778321600,NaN,NaN,NaN,NaN,NaN
3,2000-01-06,0.714723,0.805004,0.714723,0.798421,767972800,NaN,NaN,NaN,NaN,NaN
4,2000-01-07,0.748578,0.759864,0.718485,0.726008,460734400,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6283,2024-12-23,254.989655,255.369227,253.171646,254.490204,40858800,195.766968,196.266399,191.411929,193.809192,15235900.0
6284,2024-12-24,257.916443,257.926411,255.009620,255.209412,23234700,197.345184,197.445061,194.975874,195.946768,6809800.0
6285,2024-12-26,258.735504,259.814335,257.347047,257.906429,27237100,196.875717,197.934509,195.647106,196.516126,7907900.0
6286,2024-12-27,255.309296,258.415896,252.782075,257.546826,42355300,193.819183,196.576052,191.753543,196.246426,14693000.0
6287,2024-12-30,251.923019,253.221595,250.474615,251.952985,35557500,192.470734,193.559490,190.143383,190.647813,12209500.0

In [217]:
df.columns

Index(['Date_', 'Close_AAPL', 'High_AAPL', 'Low_AAPL', 'Open_AAPL',
       'Volume_AAPL', 'Close_GOOG', 'High_GOOG', 'Low_GOOG', 'Open_GOOG',
       'Volume_GOOG'],
      dtype='object')

In [219]:
tickers = ["MSFT", "AMZN", "TSLA", "NVDA", "META", "JPM", "V", "BABA", "TSM",
    "SPY", "QQQ", "ARKK", "VOO", "DIA", "XLF",
    "BTC-USD", "ETH-USD", "DOGE-USD", "ADA-USD", "XRP-USD", "SOL-USD",
    "^GSPC", "^DJI"]

print(tickers)

['MSFT', 'AMZN', 'TSLA', 'NVDA', 'META', 'JPM', 'V', 'BABA', 'TSM', 'SPY', 'QQQ', 'ARKK', 'VOO', 'DIA', 'XLF', 'BTC-USD', 'ETH-USD', 'DOGE-USD', 'ADA-USD', 'XRP-USD', 'SOL-USD', '^GSPC', '^DJI']

In [221]:
for ticker in tickers:
    stock_df = yf.download(ticker, start = "2000-01-01", end = "2024-12-31")

    stock_df = stock_df.reset_index()
    multi_index = pd.MultiIndex.from_tuples(stock_df.columns)
    flat_columns = ['_'.join(col) for col in multi_index]
    stock_df.columns = flat_columns
    
    df = pd.merge(df, stock_df, on = ['Date_', 'Date_'], how = 'outer')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [223]:
df

,Date_,Close_AAPL,High_AAPL,Low_AAPL,Open_AAPL,Volume_AAPL,Close_GOOG,High_GOOG,Low_GOOG,Open_GOOG,...,Close_^GSPC,High_^GSPC,Low_^GSPC,Open_^GSPC,Volume_^GSPC,Close_^DJI,High_^DJI,Low_^DJI,Open_^DJI,Volume_^DJI
0,2000-01-03,0.842151,0.846382,0.765036,0.789017,535796800.0,NaN,NaN,NaN,NaN,...,1455.219971,1478.000000,1438.359985,1469.250000,9.318000e+08,11357.509766,11522.009766,11305.690430,11501.849609,169750000.0
1,2000-01-04,0.771149,0.832276,0.761274,0.814408,512377600.0,NaN,NaN,NaN,NaN,...,1399.420044,1455.219971,1397.430054,1455.219971,1.009000e+09,10997.929688,11350.059570,10986.450195,11349.750000,178420000.0
2,2000-01-05,0.782433,0.831806,0.774910,0.780552,778321600.0,NaN,NaN,NaN,NaN,...,1402.109985,1413.270020,1377.680054,1399.420044,1.085500e+09,11122.650391,11215.099609,10938.669922,10989.370117,203190000.0
3,2000-01-06,0.714723,0.805004,0.714723,0.798421,767972800.0,NaN,NaN,NaN,NaN,...,1403.449951,1411.900024,1392.099976,1402.109985,1.092300e+09,11253.259766,11313.450195,11098.450195,11113.370117,176550000.0
4,2000-01-07,0.748578,0.759864,0.718485,0.726008,460734400.0,NaN,NaN,NaN,NaN,...,1441.469971,1441.469971,1400.729980,1403.449951,1.225200e+09,11522.559570,11528.139648,11239.919922,11247.059570,184900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7452,2024-12-26,258.735504,259.814335,257.347047,257.906429,27237100.0,196.875717,197.934509,195.647106,196.516126,...,6037.589844,6049.750000,6007.370117,6024.970215,2.904530e+09,43325.800781,43373.980469,43115.089844,43201.851562,270350000.0
7453,2024-12-27,255.309296,258.415896,252.782075,257.546826,42355300.0,193.819183,196.576052,191.753543,196.246426,...,5970.839844,6006.169922,5932.950195,6006.169922,3.159610e+09,42992.210938,43238.851562,42761.558594,43142.371094,376960000.0
7454,2024-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7455,2024-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7456,2024-12-30,251.923019,253.221595,250.474615,251.952985,35557500.0,192.470734,193.559490,190.143383,190.647813,...,5906.939941,5940.790039,5869.160156,5920.669922,3.433250e+09,42573.730469,42863.859375,42263.511719,42863.859375,383300000.0

In [41]:
df.to_csv("stocks.csv", index=True)

In [231]:
df['Date_'].unique[24:30]

TypeError: 'method' object is not subscriptable